body { background: pink; }

ul {
  list-style: none;
}

li.done span {
    text-decoration: line-through;
    opacity: 0.6;
  }


  li button {
    margin-left: 8px;
    background: none;
    border: none;
    color: red;
    font-size: 18px;
    cursor: pointer;
  }