body { background: pink; }

ul {
  list-style: none;
}

li.done span {
    text-decoration: line-through;
    opacity: 0.6;
  }


  .delete-btn {
    color: red;
  }
  
  .edit-btn {
    color: blue;
    font-size: 14px;
  }
  
  .list-box{
    background-color: white;
    margin: 80pt;
    padding: 16pt;
    text-align: center;
  }